<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Product detail</h1>
    <table class="table table-striped" th:object="${product}">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    <tr>
        <td th:text="${product.get().getId()}"></td>
        <td th:text="${product.get().getName()}"></td>
        <td th:text="${product.get().getQuantity()}"></td>
        <td th:text="${product.get().getPrice()}"></td>
        <td><img width="200px" height="200px" th:src="@{'../image/' + ${product.get().getImageUrl()}}" alt=""/></td>
    </tr>
    </table>
    <button class="btn btn-primary"><a href="/product">Back to home</a></button>
</div>
</body>
</html>